statworx/data_stocks.csv
mastery_multistep/data_stocks.csv
.idea/*
masteryUni/*
shampoo_sales/*
statworx/*
time_series_prediction_francesco/DJIA_table.csv
time_series_prediction_francesco/dija_networks/*
time_series_prediction_francesco/network-hugh.py
.DS_Store
*.pyc
*.swp
